@page "/gasilskadrustva/details"
@using Microsoft.EntityFrameworkCore
@using Vulkan2Blazor.Models
@inject IDbContextFactory<Vulkan2Blazor.Data.Vulkan2Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>GasilskoDrustvo</h2>
    <hr />
    @if (gasilskodrustvo is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Naziv</dt>
            <dd class="col-sm-10">@gasilskodrustvo.Naziv</dd>
            <dt class="col-sm-2">TipDrustva</dt>
            <dd class="col-sm-10">@gasilskodrustvo.TipDrustva</dd>
            <dt class="col-sm-2">Naslov</dt>
            <dd class="col-sm-10">@gasilskodrustvo.Naslov</dd>
            <dt class="col-sm-2">Posta</dt>
            <dd class="col-sm-10">@gasilskodrustvo.Posta</dd>
            <dt class="col-sm-2">Kraj</dt>
            <dd class="col-sm-10">@gasilskodrustvo.Kraj</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@gasilskodrustvo.Email</dd>
            <dt class="col-sm-2">Telefon</dt>
            <dd class="col-sm-10">@gasilskodrustvo.Telefon</dd>
            <dt class="col-sm-2">SpletnaStran</dt>
            <dd class="col-sm-10">@gasilskodrustvo.SpletnaStran</dd>
            <dt class="col-sm-2">MaticnaStevilka</dt>
            <dd class="col-sm-10">@gasilskodrustvo.MaticnaStevilka</dd>
            <dt class="col-sm-2">DavcnaStevilka</dt>
            <dd class="col-sm-10">@gasilskodrustvo.DavcnaStevilka</dd>
        </dl>
        <div>
            <a href="@($"/gasilskadrustva/edit?gasilskodrustvoid={gasilskodrustvo.GasilskoDrustvoId}")">Edit</a> |
            <a href="@($"/gasilskadrustva")">Back to List</a>
        </div>
    }
</div>

@code {
    private GasilskoDrustvo? gasilskodrustvo;

    [SupplyParameterFromQuery]
    private int GasilskoDrustvoId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        gasilskodrustvo = await context.GasilskoDrustvo.FirstOrDefaultAsync(m => m.GasilskoDrustvoId == GasilskoDrustvoId);

        if (gasilskodrustvo is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
